.container {
  max-width: 480px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 24px;
}

.title span {
  color: #8a6ff5;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
